{%extends 'tony/base.html'%}
{%load crispy_forms_tags%}
{%block title%}New Song{%endblock%}

{%block content%}
<div class="container">
    <div class="row" style="height:200px;">
        <div class="col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-info" style="background:grey; border-radius:15px;">
                <div class="panel-body"  style="background:grey; border-radius:15px;">
                    <h3 class="text-primary text-capitalize">new song</h3>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form|crispy}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>
{%endblock%}