{%extends 'tony/base.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row">
        {%if albums%}
            {%for album in albums%}
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <a href="{%url 'tony:detail' album.id%}">
                            <img src="{{album.album_cover.url}}" class="img img-responsive" alt="" style="height:200px; width:80%;">
                        </a>
                        <div class="caption">
                            <h4>{{album.album_name}}</h4>
                            <h5>{{album.artist_name}}</h5>
                             <a href="" class="btn btn-secondary"><i class="fas fa-heart"></i> </a>
                            <a href="{%url 'tony:album-update' album.id%}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
                            <a href="{%url 'tony:album-delete' album.id%}" class="btn btn-secondary btn-sm"  style="float:right;"><i class="fas fa-trash"></i></a>

                        </div>
                    </div>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock%}